.navdiv{
    display: flex;
    justify-content: space-around;
    background-color: #d3d4d3;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}

.calbox{
    text-align: center;
}
button{
    width: 50px;
    width: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background: white;
    color: black;
}
input{
    width: 270px;
    height: 50px;
}
a{
    text-decoration: none;
    color: black;
}
#bigbox{
    width: 400px;
    height: 400px;
    margin-top: 30px;
}
#bbb{
    font-size: 20px;
}